@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,900&display=swap');
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    font-family: "Roboto Slab", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.well {
	background-color: #e6e6ff;
	border-radius: 10px;
}
.irs-min, .irs-max {
	color: #DDDDDD;
}
.table-hover>tbody>tr:hover{
	background-color: #e6e6ff;
}
/*
.container-fluid {
	background-color: #b7bed6;
}
*/